.game-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.game-thumbnail {
    font-family: "Questrial", sans-serif;
    font-weight: 400;
    font-size: 3rem;
    padding: 10px;
}

@media only screen and (max-width: 600px) {

    .game-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    }
}