.game-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    border: 5px solid #292f3b;
    border-radius: 5px;
    background-color: #1e222b;
    cursor: pointer;
    font-family: "Questrial", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ddca8d;
}

.game-button img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.game-button:hover {
    background: #191c24;
}