.user_box {
    position: relative;
}

.message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateY(20px);
    
    opacity: 0;
    pointer-events: none;

    font-family: "Questrial", sans-serif;
    font-weight: 400;
    font-size: large;
    color: #e7996c;
    background-color: #1e222b;
    border-radius: 5px;
    border: 2px solid #292f3b;
    padding: 10px 20px;

    transition: transform 0.3s ease, opacity 0.3s ease;
}

.message.show {
    transform: translate(-50%, -50%) translateY(0);
    opacity: 1;
    pointer-events: auto;
}
