.message {
    display: flex;
    flex-direction: row;
    font-family: "Questrial", sans-serif;
    font-weight: 400;
    position: fixed;
    top: 18%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    border: 2px solid #292f3b;
    border-radius: 5px;
    background-color: #1e222b;
    color: #ddca8d;;
    font-size: 1.2rem;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease, transform 0.4s ease;
    z-index: 9999;
}

.message.show {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
  pointer-events: auto;
}