.user_box {
    position: relative;
}

.message {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-10px);
    
    opacity: 0;
    pointer-events: none;

    font-family: "Questrial", sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: #e7996c;
    background-color: #1e222b;
    border-radius: 5px;
    border: 2px solid #292f3b;
    padding: 10px 20px;

    transition: transform 0.3s ease, opacity 0.3s ease;
}

.message.show, .good.show {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
}