.game-rewards {
    min-width: 400px;
    display: flex;
    flex-direction: row;
    border: 5px solid #292f3b;
    background-color: #1e222b;
    gap: 0.5em;
    padding: 0.5em;
}

.reward-button {
    height: 100px;
    width: 100px;
    background-color: #181b22;
    border: 0;

    transition: transform 0.15s ease, box-shadow 0.15s ease;
}

.reward-button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.loading {
    color: #ddca8d;
}