.game-rewards {
    min-width: 400px;
    display: flex;
    flex-direction: row;
    border: 5px solid #292f3b;
    background-color: #1e222b;
    gap: 0.5em;
    padding: 0.5em;
}

.reward-button {
    position: relative;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #181b22;
    color: white;
    border: 0;
    transition: transform 0.30s ease, box-shadow 0.30s ease;
}

.reward-button.locked {
    filter: grayscale(100%) brightness(0.5);
}

.reward-button.locked:hover {
    transform: scale(1.03);
    opacity: 0.1;
}

.locked-text {
    position: absolute;
    font-family: "Questrial", sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: white;
}

.reward-button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 7px currentColor;
}

.reward-button.equipped {
    border: 4px solid #ffeaa7;
    box-shadow:
        0 0 8px #ffeaa7;
}

.reward-button.equipped:hover {
    transform: scale(1.1);
    box-shadow:
        0 0 8px #ffeaa7;
}

.loading {
    color: #ddca8d;
}
.selections {
    width: 100px;
    position: relative;
}

.drop-down {
    display: flex;
    flex-direction: column;
    font-family: "Questrial", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    border: 5px solid #292f3b;
    background-color: #1e222b;
    border-top: none;
    margin-top: 8px;
    color: #ddca8d;
    left: -12px;
    width: 115px;
    transform-origin: top;
    transform: scaleY(0);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.drop-down.show {
  transform: scaleY(1);
  opacity: 1;
  pointer-events: auto;
}

.equip {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 2px;
}

.title {
    width: 80%;
    margin-left: 3px;
    margin-bottom: 3px;
}

.equip input[type="checkbox"] {
    width: 20%;
}