.statsbox {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border: 5px solid #292f3b;
    background-color: #1e222b;
    width: 520px;
    height: auto;
    max-height: 500px;
    padding: 1rem;
    box-sizing: border-box;
    overflow: hidden;
}

h2 {
    display: flex;
    justify-content: center;
    justify-items: flex-start;
    font-family: "Questrial", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: #ddca8d;
}

.filters {
    display: flex;
    flex-direction: row;
    padding-left: 5px;
    padding-bottom: 5px;
}

select {
    height: 23px;
    width: 80px;
    color: #ddca8d;
    background-color: #1e222b;
    border-radius: 5px;
    border: 2px solid #292f3b;
}

select:focus {
    border: 2px solid #292f3b;
    box-shadow: 0 0 0 2px #292f3b;
}

input {
    width: 120px;
    color: #ddca8d;
    background-color: #1e222b;
    border-radius: 5px;
    border: 2px solid #292f3b;
}

input:focus {
    border: 2px solid #292f3b;
    box-shadow: 0 0 0 2px #292f3b;
}

.score_table {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 5px;
    border: 3px solid #292f3b;
    background-color: #1e222b;
    overflow: hidden;
    min-height: 0;
}

.scores {
    font-family: "Questrial", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ddca8d;
    background-color: #181b22;
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 0;  
}

.score_row {
    font-family: "Questrial", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ddca8d;
    display: flex;
    color: #ddca8d;
    box-sizing: border-box;
    flex-wrap: nowrap;
    width: 100%;
    border-bottom: 3px solid #292f3b;
}

.score_cell {
  flex: 1;
  text-align: left;
  padding: 3px;
  overflow: hidden;
}

.score_cell:nth-child(1) { flex: 1; border-right: 3px solid #292f3b; }
.score_cell:nth-child(2) { flex: 1; border-right: 3px solid #292f3b; }
.score_cell:nth-child(3) { flex: 1; text-align: center; border-right: 3px solid #292f3b; }
.score_cell:nth-child(4) { flex: 1; text-align: left; }