.box {
    width: 500px;
    height: 80px;
    background-color: #1e222b;
    border-radius: 5px;
    border: 5px solid #292f3b;
    padding: 10px;
}

.text {
    font-family: "Questrial", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: large;
    color: #ddca8d;
    margin: 0;
}