.box {
    width: 600px;
    height: 100px;
    background-color: #1e222b;
    border-radius: 5px;
    border: 5px solid #292f3b;
    padding: 10px;
}

.text {
    font-family: "Questrial", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: large;
    color: #ddca8d;
    margin: 0;
    padding-bottom: 5px;
}

strong {
    padding-right: 10px;
}

.gap {
    margin-top: -10px;
}