.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.middle-area {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.userbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.lists {
    display: flex;
    justify-content: center;
    width: 40%;
}

.textbox {
    display: flex;
    justify-content: center;
    width: 100%;
}

.stats-position {
    display: flex;
    justify-content: center;
    width: 30%;
}

@media only screen and (max-width: 1200px) {

    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: relative;
    }

    .userbox {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
        height: 100%;
        margin-top: 3vh;
    }

    .middle-area {
        display: flex;
        width: 70%;
        align-items: center;
        position: absolute;
        top: 3%;
        left: 25%;
    }

    .list {
        margin-top: 8vh;
    }

    .textbox {
        margin-top: 15vh;
        margin-bottom: 2vh;
    }

    .stats-position {
        display: flex;
        justify-content: center;
        margin-top: 15vh;
        width: 100%;
        margin-left: 6vh;
        margin-right: auto;
    }
}

@media only screen and (max-width: 800px) {
    
    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .userbox {
        width: 100%;
        margin-top: 2vh;
    }

    .middle-area {
        position: static;
        width: 100%;
        margin: 0;
        align-items: center;
    }

    .list {
        margin-top: 2vh;
    }

    .textbox {
        margin-top: 2vh;
        margin-bottom: 2vh;
    }

    .stats-position {
        width: 100%;
        margin-top: 2vh;
        margin-left: 0;
        justify-content: center;
    }
}