.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.middle-area {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.userbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.lists {
    display: flex;
    justify-content: center;
    width: 40%;
}

.textbox {
    display: flex;
    justify-content: center;
    width: 100%;
}

.stats-position {
    display: flex;
    justify-content: center;
    width: 30%;
}

@media only screen and (max-width: 1200px) {

    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: relative;
    }

    .middle-area {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        gap: 4rem;
        margin-top: 2rem;
    }

    .textbox {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 2rem;
    }

}