.playbox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-layout {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    width: 100%;
}

.scoreboard-position {
  width: 30%;
}

.gamescreen-position {
  display: flex;
  justify-content: end;
  width: 70%;
}

.scoreboard {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border: 5px solid #292f3b;
  background-color: #1e222b;
  width: 520px;
  height: auto;
  max-height: 500px;
  padding: 1rem;
  box-sizing: border-box;
  overflow: hidden;
}

h2 {
    display: flex;
    justify-content: center;
    justify-items: flex-start;
    font-family: "Questrial", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: #ddca8d;
}

.scoretext {
  display: flex;
  flex-direction: row;
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #ddca8d;
  background-color: #181b22;
  width: 100%;
  border: 3px solid #292f3b;
}

.rank {
  width: 10%;
  padding: 5px;
  border-right: 3px solid #292f3b;
}

.top_name {
  width: 40%;
  border-right: 3px solid #292f3b;
  padding: 5px;
}

.top_score {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 5px;
}

@media only screen and (max-width: 1200px) {
  .game-layout {
        flex-direction: column;
        align-items: center;
    }
}