body {
    background-color: #262b36;
    min-height: 98vh;
}

.header {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Questrial", sans-serif;
    font-size: 60pt;
    padding: 1rem;
    background: linear-gradient(to bottom, #ddca8d, rgb(255, 199, 96), #ddca8d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header a {
    text-decoration: none;
}

.navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4em;
}

.nav-game {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.nav-reward {
    width: 50%;
    display: flex;
    justify-content: flex-start;
}

.navbar-button {
    font-size: 1.2rem;
    padding: 0.50rem 1.5rem;
}

@media only screen and (max-width: 600px) {

    .header {
        font-size: 40pt;
    }
}